/* ----------------------------
-------------------------------
-------------------------------
CSS TABLE OF CONTENTS

# GLOBAL STYLES
    # GLOBAL VARIABLES
    # GLOBAL RESET
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA
    # GLOBAL HELPERS

# LAYOUT
    # MEDIA QUERY
    # CONTAINER
    # GRID

# SITE STRUCTURE
    # HEADER
        # LOGO
        # SITE NAV
    # MAIN
        # SECTIONS
            # HERO
    # FOOTER

-------------------------------
-------------------------------
-----------------------------*/

/* GLOBAL VARIABLES */

:root {

    /* DEFINE ALL COMMONLY USED COLORS HERE */

    --color-body-background:rgb(0 0 0);
    --color-text-body: rgb(255 255 255 / .8);
    --color-text-headings: rgb(255 255 255 / 1);
    --color-links: rgb(255 255 0 / .7);
    --color-links-hover: rgb(255 225 0 /1);
    --color-siteheader-background: transparent;
    --color-siteheader-links: rgb(255 255 255);
    --color-hero-background: rgb(100 100 100);

    /* DEGINE ALL FONTS USED HERE */
    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-headings: system-ui, Helvetica, Arial, sans-serif;

    /* SIZING UNITS */
    --container-width: 1100px;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;

}

/* GLOBAL RESET */

/* CHANGE BOX SIZING FOR ALL TO BORDER-BOX */
* { box-sizing: border-box; }

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body { margin: 0; }


/* GLOBAL COLORS */

body {
    /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
    background-color: var(--color-body-background);

    /* SET THE COLOR OF THE MAIN BODY TEXT */
    color: var(--color-text-body);
}

h1, h2, h3 {
    /* SET THE COLOR OF ALL HEADINGS H1-etc */
    color: var(--color-text-headings);
}

a { 
    /* SET THE COLOR OF ALL TEXT LINKS */
    color: var(--color-links);

    &:hover {
        /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

body {
    /* SET THE FONT FOR ALL MAIN BODY TEXT */
    font-family: var(--font-body);

    /* SET THE LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
    line-height: 1.4;
}

h1, h2, h3 {
    /* SET THE FONT FOR ALL HEADING TEXT */
    font-family: var(--font-headings);
}

h1 {
    /* SET H1 FONT SIZE */
    font-size: 3em;

    /* SET H1 LEADING */
    line-height: 1;
}

h2 {
    /* SET H2 FONT SIZE */
    font-size: 2em;

    /* SET H2 LEADING */
    line-height: 1.2;
}

h3 {
    /* SET H3 FONT SIZE */
    font-size: 1.5em;

    /* SET H3 LEADING */
    line-height: 1.3;
}

p {
    /* LIMIT THE WIDTH OF ALL PARAGRAPHS */
    max-width: 65ch;

    /* NEW SCHOOL WIDOW SLAYER */
    text-wrap: pretty;
}

/* GLOBAL MEDIA */

img {
    /* MAKE ALL IMAGES SHRINK ON SMALL CREENS */
    max-width: 100%;
    height: auto;
}

/* GLOBAL HELPERS */

/* HIDE ELEMENTS VISUALLY BUT NOT FROM SCREEN READERS AND SEARCH ENGINES */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/* LAYOUT */

/* RESPONSICE TYPOGRAPHY VIA MEDIA QUERIES */

/* SMALL SCREENS {Mobile < 768px} */

body {
    /* SET THE DEFAULT FONT SIZE TO 14px */
    font-size: 87.5%;
}

/* MEDIUM SCREENS {Tablets < 1200px} */

@media (min-width: 768px) {
    body {
        /* SET THE DEFAULT FONT SIZE TO 16px */
        font-size: 100%;
    }
}

/* LARGE SCREENS {Laptops & Desktops > 1200px} */

@media (min-width: 1200px) {
    body {
        /* SET THE DEFAULT FONT SIZE TO 16px */
        font-size: 112.5%;
    }
}

/* CONTAINER */
.container {
    /* SET THE MAX WIDTH OF YOUR SITE (eg 1200px)  */
    max-width: var(--container-width);

    /* CENTER THE CONTAINER HORIZONTALLY */
    margin-left: auto;
    margin-right: auto;
}

/* GRID */
.row {
    --gridgap: 1em;
}

.row > * {
    margin-bottom: var(--gridgap);
}

@media (min-width:768px) {
    .row {
        --gridgap: 1em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }
    /* COMMONLY USED COLUMN WIDTHS */
    .one-half {grid-column: auto / span 6;}
    .one-third {grid-column: auto / span 4;}
    .two-thirds {grid-column: auto / span 8;}
    .one-fourth {grid-column: auto / span 3;}
    .three-fourths {grid-column: auto / span 9;}

    /* 12 COLUMN CLASSES */
    .col-1 { grid-column: auto / span 1;}
    .col-2 { grid-column: auto / span 2;}
    .col-3 { grid-column: auto / span 3;}
    .col-4 { grid-column: auto / span 4;}
    .col-5 { grid-column: auto / span 5;}
    .col-6 { grid-column: auto / span 6;}
    .col-7 { grid-column: auto / span 7;}
    .col-8 { grid-column: auto / span 8;}
    .col-9 { grid-column: auto / span 9;}
    .col-10 { grid-column: auto / span 10;}
    .col-11 { grid-column: auto / span 11;}
    .col-12 { grid-column: auto / span 12;}

    /* CENTERED COLUMNS */
    .one-half.centered { grid-column: 4 / span 6;}
    .one-third.centered { grid-column: 5 / span 4;}
    .two-third.centered { grid-column: 3 / span 8;}

    /* PUSHES */
    .push-1 { grid-column-start: 2; }
    .push-2 { grid-column-start: 3; }
    .push-3 { grid-column-start: 4; }
    .push-4 { grid-column-start: 5; }
    .push-5 { grid-column-start: 6; }
    .push-6 { grid-column-start: 7; }
    .push-7 { grid-column-start: 8; }
    .push-8 { grid-column-start: 9; }
    .push-9 { grid-column-start: 10; }
    .push-10 { grid-column-start: 11; }
    .push-11 { grid-column-start: 12; }

    /* SWAP (REVERSE) COLUMNS WORKS ONLY W/ 2 CHILDREN */
    .row.swapped > *:first-child { order: 2; }
    .row.swapped > *:last-child { order: 1; }

}

/* FOR DEMO PURPOSES */
.demo > * {
    background-color: #444;
    padding: 1em;
    text-align: center;
}


/* ---------------------- */
/* --- SITE STRUCTURE --- */
/* ---------------------- */

/* SITE HEADER */
.site-header {
    background-color: var(--color-siteheader-background);

    /*  PUT ALL HEADER CHILDREN SIDE BY SIDE AND VERT CENTERED */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* ADD SOME GENERAL SPACEING/PADDING AROUND THE HEADER */
    padding: var(--unit-small);

    /* RENDER HEADER ON TOP OF HERO */
    position: absolute;
    width: 100%;

    /* REMOVE LINK UNDERLINES AND SET SITE HEADER LINK COLOR */
    a {
        color: var(--color-siteheader-links);
        text-decoration: none;
    }

    /* SITE LOGO */
    .site-logo {
        display: flex;
        align-items: center;
        gap: 1em;

        /* REMOVE MARGINS AND RESIZE H1 INSIDE HEADER */
        h1 {
        font-style: 2em;
        margin: 0;
        text-wrap: nowrap;
        }
    }

    /* SITE NAV */
    .site-nav {
        /* REMOVE MARGINS FROM LIST AND BULLETS */
        ul {
            margin: 0;
            list-style: none;

            /* DISPLAY CHILDREN SIDE-BY-SIDE */
            display: flex;
        }
        /* MAKE SITE NAV LINKS BIG LIKE BUTTONS */
        a {
            display: block;
            padding: 1em;
        }
    }


}

/* SITE MAIN */
.site-main {
    
}

/* SECTIONS */
section {
    padding: var(--unit-large) var(--unit-small);
}

/* HERO SECTION */

.hero {
    background-color: var(--color-hero-background);
    /* ADD MORE SPACE ON TOP FOR THE ABSOLUTE HEADER */
    padding-top: calc(4em + var(--unit-large));
}

/* SITE FOOTER */
.site-footer {
    background-color: skyblue;

    /* ADD SOME GENERAL SPACEING/PADDING AROUND THE HEADER */
    padding: var(--unit-small);
}